/* Common Styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {

    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style-type: none;
}

.link {

    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto',
        sans-serif;
    color: #434455;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media screen and (min-width: 480px) {
    .container {
        width: 318px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* =========/Common styles=========== */

/* Mobile-styles */
/* Header-mobile styles */

@media screen and (max-width: 767px) {
    .mobile-open-button {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    }

    /* Mobile-menu */

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999999999;
        background-color: #FFFFFF;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu.is-open {
        transform: translateX(0);
    }

    .mobile-menu-container {
        position: relative;
        padding-top: 76px;
        padding-bottom: 40px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .mobile-menu-close-button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 23px;
        right: 23px;
        width: 24px;
        height: 24px;
        padding: 0;
        line-height: 0;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        fill: #2E2F42;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close-button:hover,
    .mobile-menu-close-button:focus {
        background-color: #404BBF;
        border-color: transparent;
        fill: #FFFFFF;
    }

    .mobile-menu-navigation {
        display: block;

    }

    .mobile-menu-navigation-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .mobile-menu-navigation-link {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .this-page {
        color: #404BBF;
    }

    .mobile-menu-navigation-link:hover,
    .mobile-menu-navigation-link:focus {
        color: #404BBF;
    }

    .mobile-menu-adress {
        margin-bottom: 48px;
    }

    .mobile-menu-adress-list-link {
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-adress-list-telephone-link {

        color: #4D5AE5;
    }

    .mobile-menu-adress-list-link:hover,
    .mobile-menu-adress-list-link:focus {
        color: #4D5AE5;
    }


    .mobile-menu-adress-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    .mobile-menu-icons-list {
        display: flex;
        justify-content: space-between;
        gap: 40px;


    }

    .mobile-menu-icons-item {
        width: 40px;
        height: 40px;

    }

    .mobile-menu-icons-link {
        width: 40px;
        height: 40px;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-icons-link:hover,
    .mobile-menu-icons-link:focus {
        background-color: #404bbf;
    }

    /* /Mobile-menu */
}

.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E7E9FC;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);

}

.menu-list {
    display: none;
}


.page-adress {
    display: none;
}

.logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 0px;
}


.logotype-span {
    color: #2E2F42;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* /Header-mobile styles */


/*mobile-hero-styles */
.hero-section {
    background-color: #2E2F42;
    max-width: 320px;
    padding-top: 72px;
    padding-bottom: 72px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/hero/mobile-hero-image.jpg");
}


@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {

    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/hero/mobile-hero-image@2x.jpg");
    }


}

.hero-title {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    max-width: 158px;
}

.order-button {
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}


/*/mobile-hero-styles */


/* Mobile-features-styles */
.features-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-icone-container {
    display: none;
}

.features-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 72px;
    align-items: center;
    justify-content: center;
}

.features-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* /Mobile-features-styles */

/* Mobile-Team-styles */

.team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}


.team-section {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-main-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-item {
    background-color: #FFFFFF;
    width: 264px;
    height: 428px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.team-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icons-list-item {
    width: 40px;
    height: 40px;
}

.team-icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.team-icons-link:hover,
.team-icons-link:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}

/* /Mobile-Team-styles */

/* Mobile-portfotio-styles */


.portfolio-wrapper {
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 16px;
    padding-right: 16px;
}

.portfolio-main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;

}

.portfolio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
    width: 100%;
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2E2F42;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.overlay-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0, 02em;
    padding: 40px 32px;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
    height: 400px;
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.portfolio-item:hover .overlay {
    transform: translateY(0%);
}

/* /Mobile-portfotio-styles */

/* Mobile-footer-styles */

.page-footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.page-footer-container {
    max-width: 100%;
}

.footer-logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
}

.logotype-footer-span {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    width: 264px;
}

.page-footer-container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
}

.logo-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px
}

.page-footer-icons-contaiter {

    margin-bottom: 72px;
}

.footer-icons-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}

.footer-icons-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-icons-item {
    width: 40px;
    height: 40px;
}

.footer-icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-icons-link:hover,
.footer-icons-link:focus {
    background-color: #31d0aa;
}

.footer-icons {
    fill: #F4F4FD;
}

.footer-form-text {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {

    .footer-form-field {
        width: 288px;
    }

}

.footer-form-field {
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 16px;
}


.footer-sub-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.footer-sub-button-icon {
    margin-left: 16px;
}

.footer-sub-button:hover,
.footer-sub-button:focus {
    background-color: #31D0AA;
}

/* /Mobile-footer-styles */

/* Mobile-backdrop-styles */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.modal {
    width: 288px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404BBF;
    border: 0;
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus .modal-close-button-icon {
    fill: #FFFFFF;
}

.review-form-text {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.review-form-fierl-label {
    display: block;
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.review-form-field {
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-field-wrappe-coment {
    margin-bottom: 16px;
}

.review-form-field-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-wrapper {
    position: relative;

}

.review-form-field:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
}

.review-form-field:focus+.review-form-field-icon {
    fill: #4D5AE5;
}

.review-form-massage {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgba(46, 47, 66, 0.4);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.review-form-massage::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.review-form-massage:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
}

.review-form-checkbox-label {
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.privacy-pocily-link {
    color: #4D5AE5;
    line-height: 1.33;
}

.review-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox:checked+.review-form-checkbox-label .review-form-own-checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.review-form-checkbox:focus+.review-form-checkbox-label .review-form-own-checkbox {
    outline: 1px solid rgba(0, 0, 255, 0.5);
}

.review-form-button {
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.review-form-button:hover,
.review-form-button:focus {
    background-color: #404BBF;
}

/* /Mobile-backdrop-styles */

/* /Mobile-styles */


/* Tablet-styles */

@media screen and (min-width: 768px) {
    .container {
        width: 766px;
    }

    /* Header-tablet-styles */

    .page-header {
        padding-top: 0px;
        padding-bottom: 0px;
    }


    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logotype {
        margin-right: 76px;

    }

    .menu-list {
        display: flex;
    }

    .page-adress {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-open-button {
        display: none;
    }

    .page-navigation {
        display: flex;
        align-items: center;
    }

    .menu-list {
        display: flex;
        gap: 40px;
    }

    .adress-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .menu-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: #2E2F42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        padding-bottom: 24px;
        padding-top: 24px;
    }

    .menu-first-link {
        position: relative;
        color: #404bbf;
    }


    .menu-first-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }


    .menu-link:hover,
    .menu-link:focus,
    .menu-link:active {
        color: #404BBF;
    }

    .first-menu-link:active {
        color: #404BBF;
    }

    .adress-link {
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.043m;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .adress-link:hover,
    .adress-link:focus {
        color: #404BBF;
    }

    /* /Header-tablet-styles */

    /* Hero-tablet-styles */
    .hero-section {
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/hero/tablet-hero-image.jpg");
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {

        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/hero/tablet-hero-image@2x.jpg");
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }

    /* /Hero-tablet-styles */

    /* Tablet-features-styles */

    .features-list {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-title {
        text-align: left;
    }

    /* /Tablet-features-styles */

    /* Tablet-team-styles */

    .team-list {
        flex-direction: row;
        column-gap: 24px;
        row-gap: 64px;
    }




    /* /Tablet-team-styles */

    /* Tablet-portfotio-styles */
    .portfolio-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
        height: 420px;
    }

    /* /Tablet-portfotio-styles */

    /* Tablet-footer-styles */

    .page-footer-container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        max-width: 584px;
    }

    .logo-text-container {
        align-items: flex-start;
        margin-bottom: 0;
    }

    .page-footer-icons-contaiter {
        margin-bottom: 0;
    }

    .footer-icons-text {
        text-align: left;
    }


    .footer-form-field {
        width: 264px;
    }

    .footer-form {
        display: flex;
        column-gap: 24px;
        max-height: 40px;
    }

    .footer-form-text {
        text-align: left;
    }

    /* /Tablet-footer-styles */

    /* Tablet-backdrop-styles */

    .modal {
        width: 408px;
        padding-left: 24px;
        padding-right: 24px;
    }

    /* /Tablet-backdrop-styles */
}


/* /Tablet-styles */


/* Desctop-styles */
@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    /* header-Desctop-styles */
    .adress-list {
        flex-direction: row;
        gap: 40px;
    }

    .adress-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /* /header-Desctop-styles */

    /* Hero-Desctop-styles */

    .hero-section {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/hero/hero-image.jpg");
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {

        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/hero/hero-image@2x.jpg");
        }
    }

    /* /Hero-Desctop-styles */


    /* Desctop-features-styles */

    .features-icone-container {
        display: block;
    }

    .features-icone-container {
        width: 264px;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .features-list {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0, 02em;
    }

    .features-text {
        font-weight: 400;
    }

    /* /Desctop-features-styles */



    /* Desctop-team-styles */

    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }


    /* /Desctop-team-styles */

    /* Desctop-portfolio-styles */

    .portfolio-wrapper {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        height: 420px;
    }

    /* /Desctop-portfolio-styles */


    /* Desctop-footer-styles */

    .page-footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .page-footer-container {
        align-items: baseline;
        flex-wrap: nowrap;
        column-gap: 0;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo-text-container {
        margin-right: 120px
    }

    .page-footer-icons-contaiter {
        margin-right: 80px;
    }

    /* /Desctop-footer-styles */
}

/* /Desctop-styles */