/* =========Common styles=========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {

    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style-type: none;
}

.link {

    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto',
        sans-serif;
    color: #434455;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-paddings {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* =========/Common styles=========== */
/* ===============Header-styles====================== */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Logotype */
.logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.logotype-span {
    color: #2E2F42;
}

/* Navigation */
.page-navigation {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-first-link {
    position: relative;
    color: #404bbf;
}

.menu-first-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}


.menu-link:hover,
.menu-link:focus,
.menu-link:active {
    color: #404BBF;
}

.first-menu-link:active {
    color: #404BBF;
}

/* adress */
.page-adress {
    font-style: normal;
}

.adress-list {
    display: flex;
    gap: 40px;
}

.adress-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover,
.adress-link:focus {
    color: #404BBF;
}

/* ===============/Header-styles====================== */
/* ===============Hero-styles=============================== */
.hero-section {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/hero/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.order-button {
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}


/* ===============/Hero-styles=============================== */
/* ===============Features-styles=============================== */
.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
}


.features-icone-container {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

/* ===============/Features-styles=============================== */
/* ===============Team-styles=============================== */
.team-section {
    background-color: #F4F4FD;
}

.team-main-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: 264px;
    height: 428px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.team-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icons-list-item {
    width: 40px;
    height: 40px;
}

.team-icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.team-icons-link:hover,
.team-icons-link:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}

/* ===============/Team-styles=============================== */
/* ===============Portfolio-styles=============================== */
.portfolio-main-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list {

    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.overlay-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    /* display: block; */
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0, 02em;
    padding: 40px 32px;
}

.portfolio-item {

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.portfolio-item:hover .overlay {
    transform: translateY(0%);
}

/* ===============/Portfolio-styles=============================== */
/* ===============Footer-styles=============================== */
.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer-logo {
    display: inline-block;
    margin-bottom: 18px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}


.logotype-footer-span {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    width: 264px;
}

.page-footer-container {
    display: flex;
    align-items: baseline;
}

.logo-text-container {
    margin-right: 120px
}

.page-footer-icons-contaiter {
    margin-right: 80px;
}

.footer-icons-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-icons-list {
    display: flex;
    gap: 16px;
}

.footer-icons-item {
    width: 40px;
    height: 40px;
}

.footer-icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
    background-color: #31d0aa;
}

.footer-icons {
    fill: #F4F4FD;
}


.footer-form-text {
    margin-bottom: 16px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-field {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.footer-form-field::placeholder {
    color: #FFFFFF;
}

.footer-sub-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-sub-button-icon {
    margin-left: 16px;
}

.footer-sub-button:hover,
.footer-sub-button:focus {
    background-color: #31D0AA;
}

/* ===============/Footer-styles=============================== */
/* ===============Backdrop-styles=============================== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

/* ===============/Backdrop-styles=============================== */

/* ===============Modal-window=============================== */
.modal {
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404BBF;
    border: 0;
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus .modal-close-button-icon {
    fill: #FFFFFF;
}

.review-form-text {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.review-form-fierl-label {
    display: block;
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.review-form-field {
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-field-wrappe-coment {
    margin-bottom: 16px;
}

.review-form-field-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-wrapper {
    position: relative;

}

.review-form-field:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
}

.review-form-field:focus+.review-form-field-icon {
    fill: #4D5AE5;
}

.review-form-massage {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgba(46, 47, 66, 0.4);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.review-form-massage::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.review-form-massage:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
}

.review-form-checkbox-label {
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.privacy-pocily-link {
    color: #4D5AE5;
    line-height: 1.33;
}

.review-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox:checked+.review-form-checkbox-label .review-form-own-checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.review-form-checkbox:focus+.review-form-checkbox-label .review-form-own-checkbox {
    outline: 1px solid rgba(0, 0, 255, 0.5);
}

.review-form-button {
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.review-form-button:hover,
.review-form-button:focus {
    background-color: #404BBF;
}

/* ===============/Modal-window=============================== */